<div class="row">
    <div class="col-12">
        <br>
        <h2 class="text-center">Modificar ciudad:</h2>
        <br>
        <form name="ciudadDetail" (ngSubmit)="f.form.valid && editCiudad()" #f="ngForm" novalidate>
          <div class="form-group">
              <label for="ciudadName"><b>Nombre de ciudad</b></label>
              <input type="text" name="ciudadName" class="form-control" id="ciudadName" [(ngModel)]="ciudadDetail.name"
                  #viajeroName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && ciudadName.invalid }" required>
              <div class="invalid-feedback">
                  <div>Introducir un nombre valido</div>
              </div>
          </div>
          <div class="form-group">
              <label for="ciudadDescripcion"><b>Descripción de la ciudad</b></label>
              <input type = "text" name="ciudadDescripcion" class="form-control" id="ciudadDescripcion" [(ngModel)]="ciudadDetail.description"
                  #ciudadDescripcion="ngModel" [ngClass]="{ 'is-invalid': f.submitted && ciudadDescripcion.invalid }"
                  required>
              <div class="invalid-feedback">
                  <div>Falta el idioma</div>
              </div>
          </div>
           <div class="form-group">
              <label for="ciudadImagen"><b>Imagen de la ciudad</b></label>
              <input type = "text" name="ciudadImagen" class="form-control" id="ciudadImagen" [(ngModel)]="ciudadDetail.imagen"
                  #ciudadImagen="ngModel" [ngClass]="{ 'is-invalid': f.submitted && ciudadImagen.invalid }"
                  required>
              <div class="invalid-feedback">
                  <div>Falta la imagen</div>
              </div>
          </div>  
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
        <div class="row form-inline justify-content-center align-self-center">
            <i  style="padding-right: 1em;"class="fa fa-save " (click)="editCiudad()"></i>
          
            <i class="fa fa-ban" (click)="cancelEdition()"></i>
        </div>
    </div>
  </div>
  <br>
  <br>
  <app-ciudad-edit [ciudadDetail]="selectedCiudad" (cancel)="showHideEdit(selectedViajero.id)" (update)="updateCiudad()" ></app-ciudad-edit>