<div class="row">
  <div class="col-12">
      <br>
      <h2 class="text-center">Editar un viajero</h2>
      <br>
      <form name="viajeroDetail" (ngSubmit)="f.form.valid && createCliente()" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="viajeroName"><b>Nombre de usuario</b></label>
            <input type="text" name="viajeroName" class="form-control" id="viajeroName" [(ngModel)]="viajero.nombreUsuario"
                #viajeroName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && viajeroName.invalid }" required>
            <div class="invalid-feedback">
                <div>Introducir un nombre valido</div>
            </div>
        </div>
        <div class="form-group">
            <label for="clienteIdioma"><b>Idioma deseado</b></label>
            <input type = "text" name="clienteIdioma" class="form-control" id="clienteIdioma" [(ngModel)]="viajero.idioma"
                #clienteIdioma="ngModel" [ngClass]="{ 'is-invalid': f.submitted && clienteIdioma.invalid }"
                required>
            <div class="invalid-feedback">
                <div>Falta el idioma</div>
            </div>
        </div>
        <div class="form-group">
            <label for="viajeroTipoDeUsuario"><b>Tipo de usuario</b></label>
                <select name="viajeroTipoDeUsuario" class="form-control" id="viajeroTipoDeUsuario" [(ngModel)]="viajero.tipoDeUsuario"
                #viajeroTipoDeUsuario="ngModel" [ngClass]="{ 'is-invalid': f.submitted && viajeroTipoDeUsuario.invalid }" required>
                  <option>Administrador</option>
                  <option>Cliente</option>
                </select>
        </div>
        <div class="form-group">
            <label for="viajeroInformacionPersonal"><b>Información personal</b></label>
              <textarea name="viajeroInformacionPersonal" maxlength=255 class="form-control" id="viajeroInformacionPersonal" [(ngModel)]="viajero.informacionPersonal"
              #viajeroInformacionPersonal="ngModel" [ngClass]="{ 'is-invalid': f.submitted && viajeroInformacionPersonal.invalid }"
              required></textarea>
            <div class="invalid-feedback">
                <div>Por favor introduzca información válida</div>
            </div>
        </div>
        <div class="form-group">
            <label for="viajeroPreferencias"><b>Preferencias</b></label>
              <textarea name="viajeroPreferencias" maxlength=255 class="form-control" id="viajeroPreferencias" [(ngModel)]="viajero.preferencias"
              #viajeroPreferencias="ngModel" [ngClass]="{ 'is-invalid': f.submitted && viajeroPreferencias.invalid }"
              required></textarea>
            <div class="invalid-feedback">
                <div>Por favor introduzca información válida</div>
            </div>
        </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-12">
      <div class="row form-inline justify-content-center align-self-center">
          <i  style="padding-right: 1em;"class="fa fa-save " (click)="editViajero()"></i>
        
          <i class="fa fa-ban" (click)="cancelEdition()"></i>
      </div>
  </div>
</div>
<br>
<br>
