<table class="table table-striped table-sm">
        <thead class="table-primary">
        <tr>
        <th><img src = "../../../assets/Edificio.png" style="width: 30px; "></th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a>Nombre: {{ciudadDetail.nombre}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a>Descripcion: {{ciudadDetail.descripcion}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <img src = {{ciudadDetail.imagen}} class="img-fluid"alt="Responsive image"> 
                </td>
            </tr>
        </tbody>
</table>  