<div class="container-fluid">
    <div class="row">
      <div class="col-6" style = "width: 50%; height: 50%">
        <div id = "color2">
          <h1>SITIOS TURISTICOS</h1>
        </div>
        <div id = "color">
          <div *ngFor="let i of ciudadDetail.sitiosTuristicosDto">
            <b><a style="cursor: pointer;" (click)="onSelected(i.id)">{{i.nombre}}</a></b>
            <img src = {{i.imagen}}  class="img-fluid"alt="Responsive image">
          </div>
        </div>
      </div>
    </div>
  </div>
