<div *ngIf ="!crearPlanTuristico">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/Entrada.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" *ngFor="let i of planTuristico">
                  <div class = "row">
                    <div class = "col-2"></div>
                    <div class="card mb-3 col-8">
                        <img src={{i.imagen}} class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">{{i.nombrePlan}}</h5>
                          <p class="card-text text-center">{{i.costoPorPersona}}</p>
                          <p class="card-text text-center"><small class="text-muted">{{i.ubicacion}}</small></p>
                          <p class="card-text text-center"><small class="text-muted">{{i.descripcion}}</small></p>
                          <div class="form-row text-center">
                              <div class="col-12">
                                  <button class = "btn btn-success" (click)="onSelected(i.planTuristicoId)">ADQUIERE TU PLAN YA</button>
                              </div>
                            </div>
                        </div>
                      </div>
                    <div class = "col-2"></div>
                  </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
    </div>
    <div class = "row">
    <div class = "col-1"></div>
    <div class = "col-10" *ngIf ="crearPlanTuristico">
      <app-plan-turistico-detail [planTuristicoDetail]="selectedPlanTuristico"></app-plan-turistico-detail>
      <div class="form-row text-center">
          <div class="col-12">
              <button class = "btn btn-danger" (click)="cambiarBoolean()">Cancelar</button>
          </div>
        </div>
    </div>
    <div class = "col-1"></div>
</div>