<div class = "row">
    <table class="table table-striped table-sm">
      <thead class="table-primary">
        <tr>
          <th><img src = "../../../assets/viaje.png" style="width: 30px; "></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a>Nombre: {{planTuristicoDetail.nombrePlan}}</a>
          </td>
        </tr>
        <tr>
          <td>
            <a>Descripcion: {{planTuristicoDetail.descripcion}}</a>
          </td>
        </tr>
        <tr>
        <td>
          <a>Costo por persona: {{planTuristicoDetail.costoPorPersona}}</a> 
        </td>
        </tr>
      </tbody>
    </table>  
</div>
<div class = "row">
  <div class = "col-6">
    <p class="h3 p-3 text-center">Blogs de viajero:</p>
    <table class="table table-striped table-sm">
      <thead class="table-warning">
        <tr>
          <th>id</th>
          <th>comentarios</th>
          <th>sugerencias</th>
          <th>likes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of planTuristicoDetail.blogsDeViajero">
          <td style="cursor: pointer;">
            <a>{{i.id}}</a>
          </td>
          <td style="cursor: pointer;">
            <p class="figure-caption text-justify">{{i.comentarios}}</p>
          </td>
          <td style="cursor: pointer;">
            <p class="figure-caption">{{i.sugerencias}}</p>
          </td>
          <td style="cursor: pointer;">
            <p class="figure-caption">{{i.likes}}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class = "col-6">
      <p class="h3 p-3 text-center">Valoraciones</p>
      <app-listar-valoracion [valoracion]="planTuristicoDetail.valoraciones"></app-listar-valoracion>
  </div>
</div>