<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Planes turisticos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Ver planes turisticos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Crear plan turistico</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Actualizar plan turistico</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Viajeros
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="[{ outlets: { primary: ['listar-cliente'],sidebar: ['listar-cliente'] } }]" routerLinkActive="active">Listar viajeros</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ciudades
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Ver Ciudades</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Crear Ciudades</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sitios turisticos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Ver sitios turisticos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Crear sitio turistico</a>
        </div>
      </li>
    </ul>
  
  </div>
</nav>

<h1 align='center'>Proyecto 1</h1>
<p class="lead" align='center'>Cumple tus expectativas, manejando efectivamente todos tus requerimientos.</p>
