
<div class="container-fluid">
  <div class="row">
    <div class="col-6" style = "width: 50%; height: 50%">
      <div id = "color2">
        <h1>CIUDADES A VISITAR</h1>
      </div>
      <div id = "color">
        <div *ngFor="let i of ciudades">
          <b><a style="cursor: pointer;" (click)="onSelected(i.id)">{{i.nombre}}</a></b>
        </div>
      </div>
      <div *ngIf = "selectedCiudad">
        <app-listar-sitio [ciudadDetail]="selectedCiudad"></app-listar-sitio>
      </div>
    </div>
    <div class = "col-6" *ngIf="selectedCiudad">
      <app-ciudad-detail [ciudadDetail]="selectedCiudad"></app-ciudad-detail>
    </div>
  </div>
</div>
